body {
    text-align: center;
    margin-top: 20px;
}

.edit-button {
    margin-top: 20px;

    
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-container {
    position: absolute;
    top: 100px;
    left: 50px;
    cursor: move; /* Set cursor to move when dragging the image */
}

.canvas-container {
    position: absolute;
    top: 100px;
    left: 600px;
    border: 1px solid #ccc;
    cursor: crosshair; /* Set cursor to crosshair when using the brush tool */
}

#canvas {
    width: 500px;
    height: 500px;
}
