<!DOCTYPE html>
<html>
<head>
    <title>Edit Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_image.css') }}">
    <script src="{{ url_for('static', filename='javascript/edit_image.js') }}"></script>
</head>
<body>
    <h1>Edit Image</h1>
    <div class="image-container">
        <img id="selected-image" src="{{ imagefile }}" alt="Selected Image" height="500" width="500" draggable="true">
    </div>

    <script>
        // Add JavaScript code for cropping the image here
    </script>
</body>
</html>
