<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>
    <!-- Add the Swiper CSS link -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/images.css') }}">
</head>
<body>
    <h1>Image Gallery</h1>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for imagefile in imagefiles %}
                <div class="swiper-slide">
                    <img id="img{{ loop.index }}" src="{{ url_for('static', filename='images_output/' + imagefile) }}" alt="{{ imagefile }}" width="400" height="400">
                </div>
            {% endfor %}
        </div>
    </div>
    
    <!-- Add a button to select an image for editing -->
    <button class="edit-button" onclick="selectImageForEditing()">Select Image for Editing</button>

    <!-- Add the Swiper JavaScript -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/images.js') }}"></script>

    <button class="back-button" onclick="history.back()">Back</button>
</body>
</html>
